body {
  background-image: url('../img/bg-masthead.jpg'); /* Adjust the path if necessary */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 90px;
  /* max-width: 400px;  */
}

.form-label {
  text-align: left;
}
.mb-3 input{
  margin-left: 1000px;
  width: 600px;
}

.input-group {
  margin-bottom: 15px;
}

.center {
  text-align: center;
}

.form-control::placeholder {
  color: #999; /* Adjust placeholder color */
  font-style: italic; /* Adjust font style */
}

.form-control {
  border: 1px solid #ced4da; /* Adjust border color */
  border-radius: 4px; /* Adjust border radius */
  padding: 10px; /* Adjust padding */


}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-titel {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  padding: 10px;
  /* border-radius: 10px; */
}

.scoreboard {
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 100%;
  display: flex;
  color: white;
  padding: 10px;
  /* margin: 10px; */
}

.player-1-score-box {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  color: white;
  padding: 10px;
  margin-right: 75%;
  margin-left: 5%;
  border-radius: 10px;
}

.player-2-score-box {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  color: white;
  padding: 10px;
  /* margin-right: 10%; */
  border-radius: 10px;
}

.chat-section {
  background-color: rgba(92, 0, 125, 0.5);
  text-align: left;
  align-items: left;
  width: 30%;
  align-self: flex-end;
  color: white;
  /* padding: 20px; */
  border-radius: 10px;
}


.chat-input-section {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  text-align: center;
  align-items: center;
  /* align-self: flex-end; */
  color: white;
}

.chat-text-box {
  background-color: rgba(140, 140, 140, 0.641);
  text-align: left;
  align-items: left;
  width: 100%;
  color: rgb(0, 0, 0);
  margin: 5px;
  border-radius: 10px;
}

.send-chat-button {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: right;
  text-align: right;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
}

.chat-section-header {
  background-color: rgba(0, 0, 0, 0.5);
  /* text-align: left; */
  width: 100%;
  display: flex;
  color: white;
  /* padding: 20px; */
  border-radius: 10px 10px 0px 0px;
}

.chat-heading {
  text-align: center;
  margin: 5px auto;
  color: white;
}

.user-chat-avater {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}

.close-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
